.unity-scroll-view__content-container{
    width:98%;
}

.wrapper{
    width:95%;
    margin-left: 5%;
    position:relative;
    margin-bottom:10px;
}

.detail{
    padding-left:10px;
    width:85%;
}

.serihu{
    height:50px;
}

.unity-label{
    width:50%;
    min-width:30%;
}
